URxvt.font: xft:envypn:pixelsize=15,xft:Hack Nerd Font Mono:pixelsize=15,xft:Zpix:style=Regular:pixelsize=12
/* URxvt.font: xft:Misc Tamsyn:style=Regular:pixelsize=20,xft:Iosevka Nerd Font:pixelsize=20,xft:WenQuanYi WenQuanYi Bitmap Song:style=Regular:pixelsize=13 */
/* URxvt.font: xft:cozette:style=Medium:pixelsize=13,xft:Iosevka Nerd Font:pixelsize=10,xft:WenQuanYi WenQuanYi Bitmap Song:style=Regular:pixelsize=10 */
/* URxvt.font: xft:GohuFont Nerd Font Mono:style=uni-14:pixelsize=14,xft:JoyPixels:pixelsize=14;xft:WenQuanYi WenQuanYi Bitmap Song:style=Regular:pixelsize=14 */

/* URxvt*boldFont: xft:Misc Tamsyn:style=Bold:pixelsize=20,xft:Iosevka Nerd Font:style=Bold:pixelsize=20,xft:Zpix:style=Regular:pixelsize=12 */
/* URxvt*boldFont: */ 
/* URxvt*italicFont: */ 
! URxvt.letterSpace: -1
URxvt.letterSpace: 0
URxvt*.scrollBar: false

! Config to be used by st with Xresources patch
st.font: PragmataPro Liga:size=13
/* st.font: Iosevka Nerd Font:size=14 */
/* st.font: envypn:pixelsize=15 */
/* st.font: Dina:pixelsize=16 */
/* st.font: FiraCode Nerd Font:size=14 */
/* st.fontalt0: WenQuanYi WenQuanYi Bitmap Song:pixelsize=13 */
/* st.fontalt0: Unifont:pixelsize=16:style=Regular:autohint=false:antialias=false */
/* st.fontalt0: Sarasa Term Slab SC:size=13:antialias=true:autohint=true */
st.fontalt0: 975Maru SC:size=13
st.fontalt1: JoyPixels:size=13
st.alpha: 0.95
st.disablebold: 0

! XTerm configs
XTerm*renderFont: true
XTerm*faceName: xft:PragmataPro Liga:size=13, \
                xft:JoyPixels:size=13
XTerm*faceSize: 13
XTerm*utf8: 2
XTerm*locale: true

! X cursor size
Xcursor.size: 32

! Overrule for rofi
rofi.font: PragmataPro Liga 13


! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
