URxvt.font: xft:envypn:pixelsize=15,xft:Iosevka Nerd Font:pixelsize=14,xft:Zpix:style=Regular:pixelsize=12
/* URxvt.font: xft:Misc Tamsyn:style=Regular:pixelsize=20,xft:Iosevka Nerd Font:pixelsize=20,xft:WenQuanYi WenQuanYi Bitmap Song:style=Regular:pixelsize=13 */
/* URxvt.font: xft:cozette:style=Medium:pixelsize=13,xft:Iosevka Nerd Font:pixelsize=10,xft:WenQuanYi WenQuanYi Bitmap Song:style=Regular:pixelsize=10 */
/* URxvt.font: xft:GohuFont Nerd Font Mono:style=uni-14:pixelsize=14,xft:JoyPixels:pixelsize=14;xft:WenQuanYi WenQuanYi Bitmap Song:style=Regular:pixelsize=14 */

/* URxvt*boldFont: xft:Misc Tamsyn:style=Bold:pixelsize=20,xft:Iosevka Nerd Font:style=Bold:pixelsize=20,xft:Zpix:style=Regular:pixelsize=12 */
URxvt*boldFont: 
URxvt*italicFont: 
! URxvt.letterSpace: -1
URxvt*letterSpace: 0
URxvt*.scrollBar: false

! Config to be used by st with Xresources patch
st.font: PragmataPro Liga:size=13
/* st.font: Iosevka Nerd Font:size=14 */
/* st.font: envypn:pixelsize=15 */
/* st.font: Dina:pixelsize=16 */
/* st.font: FiraCode Nerd Font:size=14 */
/* st.fontalt0: WenQuanYi WenQuanYi Bitmap Song:pixelsize=13 */
/* st.fontalt0: Unifont:pixelsize=16:style=Regular:autohint=false:antialias=false */
st.fontalt0: Sarasa Term Slab SC:size=13:antialias=true:autohint=true
st.fontalt1: JoyPixels:size=12
st.alpha: 0.95
st.disablebold: 0

! XTerm configs
XTerm*renderFont: true
XTerm*faceName: xft:Mononoki Nerd Font, \
                xft:JoyPixels:size=12, \
                xft:Monospace:style=Medium:size=12   
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

! X cursor size
Xcursor.size: 32

! Overrule for rofi
rofi.font: Mononoki Nerd Font 13

! Base16 DanQing
! Scheme: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

#define base00 #2d302f
#define base01 #434846
#define base02 #5a605d
#define base03 #9da8a3
#define base04 #cad8d2
#define base05 #e0f0eF
#define base06 #ecf6f2
#define base07 #fcfefd
#define base08 #F9906F
#define base09 #B38A61
#define base0A #F0C239
#define base0B #8AB361
#define base0C #30DFF3
#define base0D #B0A4E3
#define base0E #CCA4E3
#define base0F #CA6924

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

