URxvt.font: xft:envypn:pixelsize=15,xft:Iosevka Nerd Font Mono:pixelsize=15,xft:Zpix:style=Regular:pixelsize=12

URxvt.letterSpace: 0
URxvt*.scrollBar: false

! Config to be used by st with Xresources patch
st.font: Iosevka Nerd Font:size=14
/* st.fontalt0: WenQuanYi WenQuanYi Bitmap Song:pixelsize=13 */
/* st.fontalt0: Sarasa Term Slab SC:size=13:antialias=true:autohint=true */
st.fontalt0: 975Maru SC:size=14
/* st.fontalt0: LXGW WenKai:size=12 */
st.fontalt1: JoyPixels:size=14:style=Medium
st.alpha: 0.90
st.disablebold: 0

! XTerm configs
XTerm*renderFont: true
XTerm*faceName: xft:PragmataPro Liga:size=13, \
                xft:JoyPixels:size=13
XTerm*faceSize: 13
XTerm*utf8: 2
XTerm*locale: true

! X related settings
! X cursor size
Xcursor.size: 32
Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Overrule for rofi
rofi.font: PragmataPro 13

*background: #1E1E2E
*foreground: #D9E0EE

! Gray
*color0: #6E6C7E
*color8: #988BA2

! Red
*color1: #F28FAD
*color9: #F28FAD

! Green
*color2: #ABE9B3
*color10: #ABE9B3

! Yellow
*color3: #FAE3B0
*color11:  #FAE3B0

! Blue
*color4: #96CDFB
*color12: #96CDFB

! Maguve
*color5: #DDB6F2
*color13: #DDB6F2

! Pink
*color6: #F5C2E7
*color14: #F5C2E7

! Whites
*color7: #C3BAC6
*color15: #D9E0EE
